.student{
    color:pink;
    font-size: 100px;
    font-weight: bold;
    
}
.home{
    color:blue;
    font-size:100px;
    text-align:center;
}

.para{
    background-color:rgb(114, 255, 130);
    text-align: center;
    font-size: 40px;
}
#sandy{
    color:red;  
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
#vijay{
    color:violet;
    
}